<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span th:text="Hello"></span>

    <header th:fragment="iniciodapagina">
        <h1> Página dos produtos!!</h1>
    </header>

    <footer th:fragment="fimdapagina" style="background-color: aquamarine">
        <address>
            <p>Endereço da empresa</p>
        </address>
    </footer>

    <p th:fragment="sayhello(msg)">
        <span th:text="${msg}"></span>
    </p>

    <div th:fragment="statusCadastro(status)">
        <p th:switch="${status}">
            <span th:case="'CADASTRADO'">CADATRADO</span>
            <span th:case="1">ALTERADO</span>
            <span th:case="'EXCLUIDO'">EXCLUIDO</span>
            <span th:case="*">CANCELADO</span>
        </p>
    </div>

    <div th:fragment="statusUsuario(status)">
        <p>
            <span th:if="${status == 'NOVO'}"> Bem vindo!</span>
            <span th:unless="${status == 'NOVO'}"> Voltou!!</span>
        </p>
    </div>

    <div th:fragment="displayName(name)">
        <p th:text="${name} ?: 'ANONIMO'"></p>
    </div>

</body>
</html>