<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>

<div th:insert="fragments/commons:: iniciodapagina" style="background-color: brown"> </div>
<div th:replace="fragments/commons ::sayhello('${produtosList[0].id}')"></div>

<div th:replace="fragments/commons :: statusCadastro('blablabla')"></div>

<div th:replace="fragments/commons :: statusUsuario(${produtosList[0].id})"></div>
<div th:replace="fragments/commons :: displayName('teste')"></div>

<p>
    <a href="/cadastrar">Cadastrar</a>
</p>
        <table style="border: black; border-style: dashed; width: 100%;">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
            <tr th:each="p : ${produtosList}" th:object="${p}">
                <td th:text="*{nome}"></td>
                <td th:text="*{descricao}"> </td>
                <td th:text="*{preco}"></td>
                <td> <a th:href="@{'/editar/'+ *{id}}">Editar</a> </td>
                <td> <a th:href="@{'/deletar/'+ *{id}}">Deletar</a></td>
            </tr>
        </table>

<div th:replace="fragments/commons :: fimdapagina" style="background-color: brown"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>